<div class="page-title">
  <div class="title_left">
    <h3>Schedule</h3>
  </div>
</div>
<div class="clearfix"></div>
<button class="btn btn-success"><span class="fa fa-plus"> </span> Add Schedule</button>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Tanjengawan <a href="#">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="dashboard-widget-content container-fluid">
              <h4>Schedule List</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Lamp</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Every Day</span> Set by <a>Anshori</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">Aerator</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Sunday, Monday and Friday</span> Set by <a>Muarif</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Randuboto <a href="#">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="dashboard-widget-content container-fluid">
              <h4>Schedule List</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">Aerator</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Every Day</span> Set by <a>Anshori</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Lamp</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Sunday, Monday and Friday</span> Set by <a>Muarif</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
