<div class="page-title">
  <div class="title_left">
    <h3>User Management</h3>
  </div>
</div>
<div class="clearfix"></div>
<button class="btn btn-success"><span class="fa fa-plus"> </span> Add User</button>
<button class="btn btn-dark"><span class="fa fa-envelope-o"></span> Send Message</button>
<button class="btn btn-toggle"><span class="fa fa-wrench"></span> Setting</button>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12 widget_tally_box">
    <div class="x_panel">
      <div class="x_content">
        <p class="pull-left" style="font-size: 90%"><span class="fa fa-map-marker">&nbsp;</span>Tambak
          Tanjengawan, Tambak Randuboto</p>
        <div class="pull-right"><i>Last login &nbsp;<span>4 hours ago</span></i>&nbsp;&nbsp;&nbsp;<a
          href="#" class="fa fa-envelope"></a></div>
        <div class="">
          <img src="./assets/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <h4><p><b>Zaid Ubaid</b></p></h4>
        <div class="row">
          <span class="col-md-12 col-sm-12 col-xs-12 blue">MANAGER</span>
          <span class="col-md-12 col-sm-12 col-xs-12">+628957857877</span>
          <span class="col-md-12 col-sm-12 col-xs-12 blue">wakmo@gmail.com</span>
        </div>
        <br>
        <div>
          <span class="green">Accest List</span>
          <p></p>
          <ul>
            <li>Schedule</li>
            <li>DoThis,WhenThat!</li>
            <li>Device</li>
            <li>UserManagement</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
          <a href="#" class="col-md-5 col-sm-5 col-xs-5 btn btn-xs btn-primary">Edit</a>
          <a href="#" class="col-md-5 col-sm-5 col-xs-5 btn btn-xs btn-danger">Remove</a>
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 widget_tally_box">
    <div class="x_panel">
      <div class="x_content">
        <p class="pull-left" style="font-size: 90%"><span class="fa fa-map-marker">&nbsp;</span>Tambak
          Tanjengawan</p>
        <div class="pull-right"><i>Last login &nbsp;<span>4 hours ago</span></i>&nbsp;&nbsp;&nbsp;<a
          href="#" class="fa fa-envelope"></a></div>
        <div class="">
          <img src="./assets/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <h4><p><b>Wak Mo</b></p></h4>
        <div class="row">
          <span class="col-md-12 col-sm-12 col-xs-12 blue">PENDEGO</span>
          <span class="col-md-12 col-sm-12 col-xs-12">+628957857877</span>
          <span class="col-md-12 col-sm-12 col-xs-12 blue">wakmo@gmail.com</span>
        </div>
        <br>
        <div>
          <span class="green">Accest List</span>
          <p></p>
          <ul>
            <li>Schedule</li>
            <li>DoThis,WhenThat!</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
          <a href="#" class="col-md-5 col-sm-5 col-xs-5 btn btn-xs btn-primary">Edit</a>
          <a href="#" class="col-md-5 col-sm-5 col-xs-5 btn btn-xs btn-danger">Remove</a>
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
      </div>
    </div>
  </div>

</div>
