<div class="page-title">
  <div class="title_left">
    <h3>Dashboard</h3>
  </div>
</div>
<div class="clearfix"></div>
<button class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus"> </span> Add Dashboard</button>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Tanjengawan <a routerLink="/detail-dashboard">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats bg-blue-sky">
                <div class="icon"><span class="label bg-purple pull-right"
                                        style="font-size: 125%">Online</span></div>
                <div class="count">2</div>
                <h3 class="text-white">Eco-Aerators</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats bg-red">
                <div class="icon"><span class="label label-success pull-right"
                                        style="font-size: 125%">Connected</span></div>
                <div class="count">4</div>
                <h3 class="text-white">Devices</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats">
                <div class="count">3</div>
                <h3>Schedules Set</h3>
                <p><a href="#" class="blue">More</a></p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats">
                <div class="count">3</div>
                <h3>DoThis,WhenThat Set</h3>
                <p><a href="#" class="blue">More</a></p>
              </div>
            </div>
            <br/>
            <div class="dashboard-widget-content container-fluid">
              <h4>Recent Activity</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Aerator set to be ON</a>
                      </h2>
                      <div class="byline">
                        <span>2 hours ago</span> by <a>Schedule</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Aerator set to be OFF</a>
                      </h2>
                      <div class="byline">
                        <span>4 hours ago</span> by <a>Anshori</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Randuboto <a routerLink="/detail-dashboard">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats bg-blue-sky">
                <div class="icon"><span class="label bg-purple pull-right"
                                        style="font-size: 125%">Online</span></div>
                <div class="count">2</div>
                <h3 class="text-white">Eco-Aerators</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats bg-red">
                <div class="icon"><span class="label label-success pull-right"
                                        style="font-size: 125%">Connected</span></div>
                <div class="count">4</div>
                <h3 class="text-white">Devices</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats">
                <div class="count">3</div>
                <h3>Schedules Set</h3>
                <p><a href="#" class="blue">More</a></p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="tile-stats">
                <div class="count">3</div>
                <h3>DoThis,WhenThat Set</h3>
                <p><a href="#" class="blue">More</a></p>
              </div>
            </div>
            <br/>
            <div class="dashboard-widget-content container-fluid">
              <h4>Recent Activity</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Aerator set to be ON</a>
                      </h2>
                      <div class="byline">
                        <span>2 hours ago</span> by <a>Schedule</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
