<div class="page-title">
  <div class="title_left">
    <h3>Device</h3>
  </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Device List</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <button class="btn btn-xs bg-blue-sky"><span class="fa fa-plus"> </span> Add Device</button>
    <div class="x_content">

      <table id="datatable-responsive" class="table table-striped jambo_table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr class="headings">
          <th>
            <input type="checkbox" id="check-all" class="flat">
          </th>
          <th class="column-title">Device ID </th>
          <th class="column-title">Type </th>
          <th class="column-title">Description </th>
          <th class="column-title">State </th>
          <th class="column-title">Last Connection </th>
          <th class="column-title">Dashboard </th>
          <th class="column-title no-link last"><span class="nobr">Action</span>
          </th>
          <th class="bulk-actions" colspan="7">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="even pointer">
          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" ">Suhu2008</td>
          <td class="bg-red text-center">Temperature Sensor</td>
          <td class=" ">Sensor suhu untuk mengukur kolam A</td>
          <td class=""><span class="label label-success" style="font-size: 100%">Conected</span></td>
          <td class=" ">2 hours ago</td>
          <td class="a-right a-right ">Tambak Tanjengawan</td>
          <td class=" last"><a href="#" class="blue">Show</a>
          </td>
        </tr>
        <tr class="even pointer">
          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" ">PH2560</td>
          <td class="bg-purple text-center">PH Sensor</td>
          <td class=" ">Sensor PH untuk mengukur kolam A</td>
          <td class=""><span class="label label-danger" style="font-size: 100%">Disconected</span></td>
          <td class=" ">2 hours ago</td>
          <td class="a-right a-right ">Tambak Tanjengawan</td>
          <td class=" last"><a href="#" class="blue">Show</a>
          </td>
        </tr>
        <tr class="even pointer">
          <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td class=" ">Aerator001</td>
          <td class="bg-green text-center">Aerator</td>
          <td class=" ">Aerator di kolam A</td>
          <td class=""><span class="label label-danger" style="font-size: 100%">Off</span></td>
          <td class=" ">2 hours ago</td>
          <td class="a-right a-right ">Tambak Tanjengawan</td>
          <td class=" last"><a href="#" class="blue">Show</a>
          </td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
