<div>
  <div class="container body">
    <div class="main_container">
      <app-side-menu></app-side-menu>
      <app-top-nav-menu></app-top-nav-menu>
      <div class="right_col" role="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
