<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="statisticsku.html" class="site_title">
      <img src="./assets/images/acorator.png" style="width: 100%;padding: 8%">
    </a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="./assets/images/farmer.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>Anshori</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br/>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Things</h3>
      <ul class="nav side-menu">
        <li><a routerLink="/statistics"><i class="fa fa-bar-chart-o"></i> Statistics </a>
        </li>
        <li><a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">Tambak Tanjengawan</a></li>
            <li><a href="form_advanced.html">Tambak Randuboto</a></li>
          </ul>
        </li>
        <li><a routerLink="/devices"><i class="fa fa-desktop"></i> Devices <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="general_elements.html">Sensor</a></li>
            <li><a href="media_gallery.html">Control</a></li>
            <li><a href="typography.html">CCTV</a></li>
          </ul>
        </li>
        <li><a routerLink="/schedule"><i class="fa fa-table"></i> Schedule </a></li>
        <li><a routerLink="/ifttt"><i class="fa fa-tasks"></i> If this, Then that ! </a>
        </li>
        <li><a routerLink="/user-management"><i class="fa fa-users"></i> User Management</a></li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Your Account</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-user"></i> Profile </a></li>
        <li><a><i class="fa fa-wrench"></i> Setting </a></li>
      </ul>

    </div>

    <div class="menu_section">
      <h3>Resources</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-star"></i> Upgrade
          <span class="label label-success pull-right">Coming Soon</span></a>
          <ul class="nav child_menu">
            <li><a href="#level1_1">Level One</a>
            <li><a>Level One<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="level2.html">Level Two</a>
                </li>
                <li><a href="#level2_1">Level Two</a>
                </li>
                <li><a href="#level2_2">Level Two</a>
                </li>
              </ul>
            </li>
            <li><a href="#level1_2">Level One</a>
            </li>
          </ul>
        </li>
        <li><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i> Shop </a></li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>
</div>
