<div class="page-title">
  <div class="title_left">
    <h3>Tambak Tanjengawan
      <a href="#">
        <small class="green"><i class="fa fa-location-arrow">&nbsp;&nbsp;See in Map</i></small>
      </a>
    </h3>
    <p>Kecamatan Ujung Pangkah, Kabupaten Gresik Jawa Timur 61152</p>
  </div>
</div>
<button class="btn btn-xs bg-primary pull-right"><span class="fa fa-plus"> </span> Add Action</button>
<button class="btn btn-xs bg-blue pull-right"><span class="fa fa-plus"> </span> Add Schedule</button>
<button class="btn btn-xs bg-blue-sky pull-right"><span class="fa fa-plus"> </span> Add Device</button>
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Control Device</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-3 col-xs-12 widget">
          <div class="x_panel ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon">
                <small>Disconnected</small>
              </div>
            </div>
            <div class="x_title">
              <h2>IDne29128</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content text-center">

              <div style="text-align: center; margin-bottom: 17px">
                <img src="images/icon-ac.png" alt="..." class="img-circle" style="width: 100%">
              </div>
              <h3 class="name_title">Eco-Aerator</h3>
              <label>
                <span class="byline">OFF</span>
                <input type="checkbox" class="js-switch" checked/>
                ON
              </label>
              <div class="divider"></div>

              <p>Aerator di kolam A</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 widget">
          <div class="x_panel ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon bg-red">
                <small>Connected</small>
              </div>
            </div>
            <div class="x_title">
              <h2>IDne29128</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content text-center">

              <div style="text-align: center; margin-bottom: 17px">
                <img src="images/icon-ac.png" alt="..." class="img-circle" style="width: 100%">
              </div>
              <h3 class="name_title">Eco-Aerator</h3>
              <label>
                <span class="byline">OFF</span>
                <input type="checkbox" class="js-switch" checked/>
                ON
              </label>
              <div class="divider"></div>

              <p>Aerator di kolam A</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 widget">
          <div class="x_panel ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon bg-red">
                <small>Connected</small>
              </div>
            </div>
            <div class="x_title">
              <h2>IDne29128</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content text-center">

              <div style="text-align: center; margin-bottom: 17px">
                <img src="images/lamp.png" alt="..." class="img-circle" style="width: 100%">
              </div>
              <h3 class="name_title">Lamp</h3>
              <label>
                <span class="byline">OFF</span>
                <input type="checkbox" class="js-switch" checked/>
                ON
              </label>
              <div class="divider"></div>

              <p>Lamp di kolam A</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 widget">
          <div class="x_panel ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
              <div class="ui-ribbon bg-red">
                <small>Connected</small>
              </div>
            </div>
            <div class="x_title">
              <h2>IDne29128</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content text-center">

              <div style="text-align: center; margin-bottom: 17px">
                <img src="images/lamp.png" alt="..." class="img-circle" style="width: 100%">
              </div>
              <h3 class="name_title">Lamp</h3>
              <label>
                <span class="byline">OFF</span>
                <input type="checkbox" class="js-switch" checked/>
                ON
              </label>
              <div class="divider"></div>

              <p>Lamp di kolam A</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dissolved Oxygen Sensor
          <!--<small>Sessions</small>-->
        </h2>
        <div class="filter byline">
          <div class="reportrange"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas class="lineChart"></canvas>
        <br>
        <div class="row container-fluid">
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-blue"></div>
            &nbsp;&nbsp;<input type="checkbox" checked><span>IDne32647</span>
          </div>
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-red"></div>
            &nbsp;&nbsp;<input type="checkbox" checked><span>IDne34647</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>PH Sensor
          <!--<small>Sessions</small>-->
        </h2>
        <div class="filter byline">
          <div class="reportrange"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="mybarChart"></canvas>
        <br>
        <div class="row container-fluid">
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-blue"></div>
            &nbsp;&nbsp;<input type="checkbox" checked><span>IDne32647</span>
          </div>
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-red"></div>
            &nbsp;&nbsp;<input type="checkbox"checked><span>IDne34647</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Temperature Sensor
          <!--<small>Sessions</small>-->
        </h2>
        <div class="filter byline">
          <div class="reportrange"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="lineChart"></canvas>
        <br>
        <div class="row container-fluid">
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-blue"></div>
            &nbsp;&nbsp;<input type="checkbox"checked><span>IDne32647</span>
          </div>
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-red"></div>
            &nbsp;&nbsp;<input type="checkbox"checked><span>IDne34647</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Water Level Sensor
          <!--<small>Sessions</small>-->
        </h2>
        <div class="filter byline">
          <div class="reportrange"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas class="lineChart"></canvas>
        <br>
        <div class="row container-fluid">
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-blue"></div>
            &nbsp;&nbsp;<input type="checkbox"checked><span>IDne32647</span>
          </div>
          <div class="col-md-3">
            <div style="width: 10px; height: 10px; float: left" class="bg-red"></div>
            &nbsp;&nbsp;<input type="checkbox"checked><span>IDne34647</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Schedule</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-plus"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="dashboard-widget-content container-fluid">
              <h4>Schedule List</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Lamp</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Every Day</span> Set by <a>Anshori</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>IDne22932</a> will be ON&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">Aerator</span></i>
                        <div class="pull-right">
                          <label>
                            <span class="byline">OFF</span>
                            <input type="checkbox" class="js-switch" checked/>
                            ON
                          </label>
                        </div>
                      </h2>
                      <div class="byline">
                        <span class="green">08.00 AM - 09.00 AM Sunday, Monday and Friday</span> Set by <a>Muarif</a>
                        <a href="#"><span class="blue">&nbsp; Detail</span></a>
                        <a href="#"><span class="red">&nbsp; Remove</span></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>DoThis,WhenThat!</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-plus"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="container-fluid">
              <h4>Action List</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br/>
