<div class="page-title">
  <div class="title_left">
    <h3>Statistics</h3>
  </div>
</div>
<div class="clearfix"></div>


<div class="row tile_count">
  <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Dashboards</span>
    <div class="count">2</div>
    <span class="count_bottom"><a href="#" class="green">Detail</a></span>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Sensors</span>
    <div class="count green">2</div>
    <span class="count_bottom"><a href="#" class="green">Detail</a></span>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Control Devices</span>
    <div class="count">4</div>
    <span class="count_bottom"><a href="#" class="green">Detail</a></span>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> CCTV</span>
    <div class="count">5</div>
    <span class="count_bottom"><a href="#" class="green">Detail</a></span>
  </div>
</div>
<!-- /top tiles -->

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><span class="fa fa-map-marker">&nbsp;&nbsp;</span>Dashboards Location</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <div class="col-md-4 hidden-small">
            <table class="countries_list">
              <tbody>
              <tr>
                <td>Tambak Tanjengawan</td>
                <td>Desa Tanjengawan, Kec. Ujung Pangkah Gresik 61153</td>
                <td class="fs15 fw700 text-right blue"><a href="#">Detail</a></td>
              </tr>
              <tr>
                <td>Tambak Randuboto</td>
                <td>Desa Randuboto, Kec. Sidayu Gresik 61153</td>
                <td class="fs15 fw700 text-right blue"><a href="#">Detail</a></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12"
               style="height:230px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">

      <div class="row x_title">
        <div class="col-md-6">
          <h3>Data Transmission
            <small>Daily data transmitted and received by your nodes</small>
          </h3>
        </div>
        <div class="col-md-6">
          <div id="reportrange" class="pull-right"
               style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-9 col-xs-12">
        <div id="chart_plot_01" class="demo-placeholder"></div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
        <div class="x_title">
          <h2>Report for last 30 days</h2>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Total Data Transmission</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar"
                     data-transitiongoal="80"></div>
              </div>
            </div>
          </div>
          <div>
            <p>Data Transmission Rate</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar"
                     data-transitiongoal="60"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-6">
          <div>
            <p>Data Reception Rate</p>
            <div class="">
              <div class="progress progress_sm" style="width: 76%;">
                <div class="progress-bar bg-green" role="progressbar"
                     data-transitiongoal="50"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</div>
<br/>
