<div class="page-title">
  <div class="title_left">
    <h3>DoThis, WhenThat!!!</h3>
  </div>
</div>
<div class="clearfix"></div>
<button class="btn btn-success"><span class="fa fa-plus"> </span> Add Action</button>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Tanjengawan <a href="#">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="container-fluid">
              <h4>Action List</h4>
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tambak Randuboto <a href="#">
          <small class="blue">Detail</small>
        </a><a href="#">
          <small class="green"><i class="fa fa-location-arrow">See in Map</i></small>
        </a></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a><i class="fa fa-wrench"></i></a></li>
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div>
          <div class="row">
            <div class="container-fluid">
              <h4>Action List</h4>
              <ul class="list-unstyled timeline widget">

                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>

                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <span class="label label-success">DoThis!</span>
                        <div class="pull-right">
                          <label>
                            <span class="byline">Nonactive</span>
                            <input type="checkbox" class="js-switch" checked/>
                            Active
                          </label>
                        </div>
                        <ul class="list-group">
                          <li>
                            <span>IDne2932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-purple" style="font-size: 70%">Aerator</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 2 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                          <li>
                            <span>IDne42932 will be ON</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-orange" style="font-size: 70%">Lamp</span></i>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">For 1 hours</span>
                              <div class="pull-right">
                                <label>
                                  <input type="checkbox" class="flat" checked="checked"> On
                                </label>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <span class="label label-danger">WhenThat!</span>
                        <br>
                        <ul class="list-group">
                          <li>
                            <br>
                            <span>IDne2912</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-primary" style="font-size: 70%">PH Sensor</span></i>
                            <br>
                            <br>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span>&nbsp;&nbsp;&nbsp;Above : <span>400</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">08.00 AM - 09.00 AM Every Day</span>
                            </div>
                          </li>
                          <li>
                            <br>
                            <span>IDne2323</span>&nbsp;&nbsp;&nbsp;<i><span class="label bg-blue" style="font-size: 70%">Temperature Sensor</span></i>
                            <div class="pull-right">
                              <label>
                                <input type="checkbox" class="flat" checked="checked"> On
                              </label>
                            </div>
                            <div>
                              <span class="purple" style="font-size: 80%">Under : <span>200</span></span>
                            </div>
                            <div class="byline">
                              <span class="green" style="font-size: 80%">Anytime</span>
                            </div>
                          </li>
                        </ul>
                        <span style="font-size: 80%">Set by <a>Muarif</a></span>
                        <div class="pull-right">
                          <b><a href="#"><span class="blue">&nbsp; Edit</span></a></b>
                          <a href="#"><span class="red">&nbsp; Remove</span></a>
                        </div>
                      </h2>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
